.menu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #969378;
	text-decoration: none;
	background-image: url(bouton1.png);
	background-color: #CCCC94;
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 25px;
	display: block;
	height: 20px;
	width: 190px;
}
.menu:visited {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #969378;
	text-decoration: none;
	background-image: url(bouton1.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 25px;
	display: block;
	height: 20px;
	width: 190px;
}
.menu:hover {


	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	background-image: url(bouton2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 25px;
	display: block;
	height: 20px;
	width: 190px;
}
.titr1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	text-indent: 35px;
	display: block;
	height: 25px;
	width: 190px;
	background-image: url(titr_1.png);
}
.texte {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}
.titre {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}


.left {
    float: left;
    width: 204px;
}

.right {
    background-color: rgb(150, 147, 120);
    margin-left: 204px;

}

#main {
	margin-left: 100px;
	margin-right: 100px;
	background-color: rgb(150, 147, 120);
}
